.form{
    max-width: 1100px;
    margin: 40px auto;
    background-color: #ECF0F1;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 30px 60px;
    border-radius: 20px;
}

.form_block {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
   
}

.form_block input{
    width: 100%;
    padding: 10px;

}

.selects_block{
    display: flex; 
    justify-content: space-between;
}

.selects_block select{
   width: 45%;
   padding: 10px;
}